@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

$background-color: rgb(170, 249, 215);
$button-color: rgb(170, 249, 215);
$hover-font-color: mintcream;
$text-color: black;

body {
  background-color: rgb(170, 249, 215);
//   background-image: url('smoothie_stand.png');
  // background-position: bottom fixed;
  background-size: contain;
  margin-bottom: 600px;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
//   margin-top:100px;
  //overflow: hidden;
  //width: 100%;   ***don't think this is necessary due to the background-size: cover
}


.container {
  margin: auto;
  position: center;
//   width: 30em;
//   height: 20em;
}

.Navbar {
  background-color: #77f2bd;
  color: #000;
  text-align: center;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}
.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
  color: #000;
}
.navbar-dark .navbar-text {
    // background-color: $background-color;
    color: rgba(26, 23, 23, 0.5);
}

// back to all tasks button
.back {
    color: black;
    text-decoration: none;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 100px;
  font-weight: 100px;
  position: absolute;
  text-align: center;
//   text-shadow: -1px 0 black, 0 4px black, 2px 0 black, 0 -1px black;
  top: 0;
  vertical-align: top;
  margin-top: 100px;
}

h2  {
    // justify-items: left;
    // align-items: left;
    // margin-left: 200px;
    // margin-top: 205px;
    // position: sticky;
    text-align: center;
    justify-content: center;
}
h3 {
  align-items: center;
  font-size: 50px;
//   margin-left: 200px;
//   margin-top: 205px;
//   position: sticky;
//   text-align: center;
}
.about  {
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
}
//this is the styling for the second row of category icons
//remove h4 when not using categories as a line <br> list
h4 {
  position: center;
  margin-top: 40px;
  text-align: center;
  align-items: center;
}

h5 {
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
}

//h6 holds the styling for the titles "Sign Up" and "Sign In"
h6 {
  font-family: 'Raleway', sans-serif;
  //font-family: 'Sriracha', cursive;
  color: black;
  font-size: 40px;
  text-align: center;
  position: relative;
  align-items: center;
//   text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
  margin-top: 0;
}

//h7 holds styling for "Items" titles
h7 {
  align-items: center;
  color: black;
  font-family: 'Raleway', sans-serif;
  //font-family: 'Sriracha', cursive;
  font-size: 40px;
  position: relative;
  text-align: center;
  text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
  //margin-top: 140px;
}

h8 {
  font-size: 20px;
}

.auth-btns {
  background-color: mintcream;
  color: rgb(107, 213, 160);
  margin: .5%;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
}

button {
  color: black;
  background-color: rgb(107, 213, 160);
  border: 0;
  border-radius: 70px;
  border-width: thin;
  font-size: 25px;
  text-align: center;
  padding: 10px;
  // width: 50%;

  &:hover {
    background-color: blue;
    color: black;
  }
}

//this still needs to be adjusted
.btn-change-password {
  background-color: rgb(107, 213, 160);
  border-color: none;
  width: 200px;
}
// .btn {
//     color: black;
//   background-color: rgb(107, 213, 160);
//   border: 0;
//   border-radius: 70px;
//   border-width: thin;
//   font-size: 25px;
//   text-align: center;
//   padding: 10px;
//   // width: 50%;

//   &:hover {
//     background-color: blue;
//     color: black;
//   }
// }
.sign-up {
  background-color: mintcream;
  color: rgb(107, 213, 160);
  float: left;
  height: 60px;
  line-height: 40px;
  text-align: center;
  width: 100%;
}

.sign-in {
  background-color: $text-color;
  color: $hover-font-color;
  float: left;
  height: 60px;
  line-height: 40px;
  text-align: center;
  width: 100%;
}

// .input styles the form fields for sign up and sign in
.input {
  border: 2px lighter;
  // border: 0px;
  border-radius: 30px;
  box-sizing: border-box;
  font-size: 20px;
  margin-bottom: 20px;
  outline: none;
  padding: 8px;
  transition: .5s ease;
}

//this changes all forms
form {
  background-color: $hover-font-color;
  opacity: .8;
  color: #000;
  float: center;
  border-radius: 30px;
  // height: 360px;
  line-height: 40px;
  text-align: center;
  border: 2px lighter;
  box-sizing: border-box;
  font-size: 25px;
  margin-left: 50px;
  margin-top: 200px;
  outline: none;
  padding: 20px;
  transition: .5s ease;
  width: 80%;
  }

//row is the class name for the default sign in/sign out section
row {
  background-color: white;
  color: $hover-font-color;
  border-radius: 60px;
  clear: both;
  cursor: pointer;
  height: 400px;
  justify-content: center;
  padding: 40px;
  position: relative;
  width: 100%;
    //width: 50%;
  }

.btn {
  color: black;
  background-color: $background-color;
  border: 0;
  border-radius: 20px;
  border-width: thin;
  font-size: 25px;
  text-align: center;
  margin: 2px;
  &:hover {
    background-color: rgb(9,191,1);
    color: white;
  }
}

  col-sm-10 col-md-8 mx-auto mt-5 {
    background-color: $text-color;
    color: $hover-font-color;
    border-radius: 60px;
    clear: both;
    cursor: pointer;
    height: 400px;
    padding: 40px;
    width: 100%;
    //width: 50%;
    justify-content: center;
    position: relative;
  }

.delete-button {
  color: white;
  background-color: red;
  border: 0;
  border-radius: 20px;
  border-width: thin;
  font-size: 25px;
  text-align: right;
  margin-left: 95%;
  padding: 0 12px;
  &:hover {
    background-color:$background-color;
    color: white;
  }
}

//.menupicture {
    // float: right;
    // align-items: right;
    // margin-right: -700px;
    // margin-top: -100px;
    // padding: 5px;
  // }

.tasks {
//   background-color: mintcream;
  color: #000;
  float: center;
  border-radius: 30px;
  // height: 360px;
  line-height: 40px;
  text-align: center;
  border: 2px lighter;
  box-sizing: border-box;
  font-size: 25px;
  margin-top: 200px;
  margin-bottom: -75px;
  margin-left: 16%;
  outline: none;
  padding: 20px;
  transition: .5s ease;
  width: 70%;
}

.task {
    background-color: mintcream;
    color: #000;
    float: center;
    border-radius: 30px;
    // height: 360px;
    line-height: 40px;
    text-align: center;
    border: 2px lighter;
    box-sizing: border-box;
    font-size: 25px;
    margin-top: 200px;
    padding-top:200px;
    margin-bottom: -75px;
    margin-left: 16%;
    outline: none;
    padding: 20px;
    transition: .5s ease;
    width: 70%;
  }

ul {
  list-style-type: none;
 }

// // class name is wrong
// navbar-text mr-2 {
//   color: $button-color;
// }
li {
  width: 90%;
}

// .updates controls 'Manage Your Tasks' section
.updateForm {
  background-color: mintcream;
  color: #000;
  float: center;
  border-radius: 30px;
  // height: 360px;
  line-height: 40px;
  text-align: center;
  border: 2px lighter;
  box-sizing: border-box;
  font-size: 25px;
  margin-top: 200px;
  margin-bottom: -75px;
//   margin: auto;
  margin-left: 20%;
  padding: 20px;
  transition: .5s ease;
  width: 60%;
}

// .change controls the styling for 'Change Password'
.change {
  color: $hover-font-color;
  background-color: $button-color;
  border: 0;
  border-radius: 70px;
  border-width: thin;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.alert-success {
  color: black;
  background-color: white;
  border-radius: 10px;
  opacity: 0.6;
  text-align: center;
}

.alert-danger {
  color: #000;
  background-color: white;
  border-radius: 10px;
  opacity: 0.6;
  text-align: center;
}
.alert-dismissible .close {
    color: mintcream;
  }
  
button:hover {
    background-color: none;
}
.card-body {
    margin: 3px;
    background-color: $background-color;
}
.card-footer{
    background-color: mintcream;
}
.card-title{
    font-size: 50px;
}
.task-category {
    font-size: 30px;
    font-weight: bold;
}