@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

$background-color: rgb(170, 249, 215);
$button-color: rgb(170, 249, 215);
$hover-font-color: mintcream;
$text-color: black;
$check-color: rgb(9,191,1);

body {
  background-color: rgb(170, 249, 215);
  background-size: contain;
  margin-bottom: 600px;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}

// .container {
//   margin: auto;
//   position: center;
//   width: 30em;
//   height: 20em;
// }

.Navbar {
  background-color: #77f2bd;
  color: #000;
  text-align: center;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}
.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
  color: #000;
}
.navbar-dark .navbar-text {
    // background-color: $background-color;
    color: rgba(26, 23, 23, 0.5);
}

// back to all tasks button
.back {
    color: black;
    text-decoration: none;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 100px;
  font-weight: 100px;
  position: absolute;
  text-align: center;
  top: 0;
  vertical-align: top;
  margin-top: 100px;
}

h2  {
    // justify-items: left;
    // align-items: left;
    // margin-left: 200px;
    // margin-top: 205px;
    // position: sticky;
    text-align: center;
    justify-content: center;
}
h3 {
  align-items: center;
  font-size: 50px;
//   margin-left: 200px;
//   margin-top: 205px;
//   position: sticky;
//   text-align: center;
}

.about  {
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
}

h4 {
  position: center;
  margin-top: 40px;
  text-align: center;
  align-items: center;
}

h5 {
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
}

h6 {
  font-family: 'Raleway', sans-serif;
  color: black;
  font-size: 40px;
  text-align: center;
  position: relative;
  align-items: center;
  margin-top: 0;
}

.auth-btns {
  background-color: mintcream;
  color: rgb(107, 213, 160);
  margin: .5%;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
}

button {
  color: black;
  background-color: rgb(107, 213, 160);
  border: 0;
  border-radius: 70px;
  border-width: thin;
  font-size: 25px;
  text-align: center;
  padding: 10px;
  // width: 50%;

  &:hover {
    background-color: #77f2bd;
    color: white;
  }
}

.btn-change-password {
  background-color: rgb(107, 213, 160);
  border-color: none;
  width: 200px;
}

.sign-up {
  background-color: mintcream;
  color: rgb(107, 213, 160);
  float: left;
  height: 60px;
  line-height: 40px;
  text-align: center;
  width: 100%;
}

.sign-in {
  background-color: $text-color;
  color: $hover-font-color;
  float: left;
  height: 60px;
  line-height: 40px;
  text-align: center;
  width: 100%;
}

// form fields for sign up and sign in
.input {
  border: 2px lighter;
  border-radius: 30px;
  box-sizing: border-box;
  font-size: 20px;
  margin-bottom: 20px;
  outline: none;
  padding: 8px;
  transition: .5s ease;
}

form {
  background-color: $hover-font-color;
  opacity: .7;
  color: #000;
  float: center;
  border-radius: 30px;
  line-height: 40px;
  text-align: center;
  border: 2px lighter;
  box-sizing: border-box;
  font-size: 25px;
  margin-left: 50px;
  margin-top: 200px;
  outline: none;
  padding: 20px;
  transition: .5s ease;
//   width: 80%;
  }

//sign in/sign out section
row {
  background-color: mintcream;
  color: $hover-font-color;
  border-radius: 60px;
  clear: both;
  cursor: pointer;
  height: 400px;
  justify-content: center;
  padding: 40px;
  position: relative;
  width: 100%;
  opacity: .8;
  }

.btn {
  color: black;
  background-color: $background-color;
  border: 0;
  border-radius: 20px;
  border-width: thin;
  font-size: 25px;
  text-align: center;
  margin: 2px;
  &:hover {
    background-color: #77f2bd;
    color: white;
  }
}

col-sm-10 col-md-8 mx-auto mt-5 {
    background-color: $text-color;
    color: $hover-font-color;
    border-radius: 60px;
    clear: both;
    cursor: pointer;
    height: 400px;
    padding: 40px;
    width: 100%;
    //width: 50%;
    justify-content: center;
    position: relative;
}

.delete-button {
  color: white;
  background-color: red;
  border: 0;
  border-radius: 20px;
  border-width: thin;
  font-size: 25px;
  text-align: right;
  margin-left: 95%;
  padding: 0 12px;
  &:hover {
    background-color: rgb(111, 4, 4);
    color: black;
  }
}

.tasks {
//   background-color: mintcream;
  color: #000;
  float: center;
  border-radius: 30px;
  // height: 360px;
  line-height: 40px;
  text-align: center;
  border: 2px lighter;
  box-sizing: border-box;
  font-size: 25px;
  margin-top: 200px;
  margin-bottom: -75px;
  margin-left: 16%;
  outline: none;
  padding: 20px;
  transition: .5s ease;
  width: 70%;
}

.task {
    background-color: mintcream;
    color: #000;
    float: center;
    border-radius: 30px;
    // height: 360px;
    line-height: 40px;
    text-align: center;
    border: 2px lighter;
    box-sizing: border-box;
    font-size: 25px;
    margin-top: 200px;
    padding-top:200px;
    margin-bottom: -75px;
    margin-left: 16%;
    outline: none;
    padding: 20px;
    transition: .5s ease;
    width: 70%;
  }

ul {
  list-style-type: none;
}

li {
  width: 90%;
}

// .updates controls 'Manage Your Tasks' section
.updateForm {
  background-color: mintcream;
  color: #000;
  float: center;
  border-radius: 30px;
  // height: 360px;
  line-height: 40px;
  text-align: center;
  border: 2px lighter;
  box-sizing: border-box;
  font-size: 25px;
  margin-top: 200px;
  margin-bottom: -75px;
//   margin: auto;
  margin-left: 20%;
  padding: 20px;
  transition: .5s ease;
  width: 60%;
  opacity: .7;
}

// .change controls the styling for Change Password
.change {
  color: $hover-font-color;
  background-color: $button-color;
  border: 0;
  border-radius: 70px;
  border-width: thin;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.alert-success {
  color: black;
  background-color: white;
  border-radius: 10px;
  opacity: 0.9;
  text-align: center;
  border-style: solid;
}

.alert-danger {
  color: #000;
  background-color: white;
  border-radius: 10px;
  opacity: 0.9;
  text-align: center;
  border-style: solid;
}
.alert-dismissible .close {
    color: mintcream;
  }
  
button:hover {
    background-color: #77f2bd;
}
.card-body {
    margin: 3px;
    background-color: $background-color;
}
.card-footer{
    background-color: mintcream;
}
.card-title{
    font-size: 50px;
}
.task-category {
    font-size: 30px;
    font-weight: bold;
}